.items-container {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: space-between;
}
@media (width<576px) {
  .item {
    width: 300px;
  }
}
.item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-details h1 {
  margin: 0;
  font-size: 1.2em;
}

.item-details p {
  margin: 5px 0;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}
.currency{
  display: flex;
}